body {
    background: #181825;
}
.App {
    text-align: center;
    position: relative;
    width: 800px;
    height: 90vh;
    background: whitesmoke;
    border: 5px solid #555;
}

.postit {
    aspect-ratio: 1;
    width: 150px;
    background: yellow;
    border-radius: 3px;
    position: absolute;
    box-shadow: 3px 3px 3px 3px rgba(85, 60, 60, 0.1);
    user-select: none;
}
